<a href="https://colab.research.google.com/github/moulikatou/Ter_securite_Alimentaire_Miashs/blob/vmelancon/rCSI_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# rCSI Prediction

In this notebook we'll try to train a model to try and predict the rCSI index in Burkina Faso. We will first gather some features to fit the model on, then we'll see how those features could explain an rCSI variability in time and in space. So let's begin !

## Imports / Global Variables

In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from google.colab import drive 
drive.mount("/content/gdrive")

PATH = "/content/gdrive/MyDrive/COLAB_STUFF/donnees/"
y_filename = "reduced_named_data.csv"
X_filename = ["matriceXY_Precipitation.csv", "MatriceXY_dataMais.csv"]

Mounted at /content/gdrive

# Data Gathering

The first thing to do will be to load data and merge the differents DataFrames.

In [2]:
y_df = pd.read_csv(PATH + y_filename).iloc[:, 2:]
cols = ["VIL", "MEN", "YEAR"]
y_df[cols] = y_df[cols].astype(int)
y_df.head()

         PROV    COM  VIL  MEN  YEAR   Q1   Q2   Q3   Q4   Q5   CSI
0  NAMENTENGA  BOALA    1   45  2017  0.0  0.0  0.0  0.0  0.0   0.0
1  NAMENTENGA  BOALA    1   58  2017  3.0  2.0  4.0  2.0  0.0  17.0
2  NAMENTENGA  BOALA    1   67  2017  0.0  0.0  0.0  0.0  0.0   0.0
3  NAMENTENGA  BOALA    1   75  2017  0.0  0.0  0.0  0.0  0.0   0.0
4  NAMENTENGA  BOALA    1   84  2017  0.0  0.0  0.0  0.0  0.0   0.0

In [3]:
X_dfs = [pd.read_csv(PATH + filename).iloc[:, 1:] for filename in X_filename]

In [4]:
precipitations = X_dfs[0]
precipitations.head()

             ADM1_FR ADM1_PCODE  ... Année RcsiMoyProv
0  Boucle du Mouhoun       BF46  ...  2014    8.396954
1        Centre-Nord       BF49  ...  2014    3.293335
2  Boucle du Mouhoun       BF46  ...  2014    2.754675
3         Centre-Sud       BF51  ...  2014    5.822797
4          Sud-Ouest       BF57  ...  2014    8.841051

[5 rows x 42 columns]

In [5]:
mais = X_dfs[1]
mais.head()

              REGION PROVINCE  ... Sonagess_12mais-(t-0)  RcsiMoyProv
0  BOUCLE DU MOUHOUN     BALE  ...             94.920836     8.396954
1  BOUCLE DU MOUHOUN     BALE  ...             99.961771     8.396954
2  BOUCLE DU MOUHOUN     BALE  ...             94.649666     8.396954
3  BOUCLE DU MOUHOUN     BALE  ...             89.510758     8.396954
4  BOUCLE DU MOUHOUN     BALE  ...             98.584088     8.396954

[5 rows x 17 columns]

Now we format those dataframes to be merged together.

In [9]:
try:
    del precipitations["RcsiMoyProv"]
except:
    pass
precipitations = precipitations.rename(columns={"ADM1_FR" : "PROV", "ADM2_FR" : "COM", "Année" : "ANNEE"})
precipitations["PROV"] = precipitations["PROV"].apply(lambda x : x.upper())

precipitations.to_csv(PATH + "precipitations.csv")
precipitations.head()

                PROV ADM1_PCODE  ... Preci_decembre_max ANNEE
0  BOUCLE DU MOUHOUN       BF46  ...           0.828910  2014
1        CENTRE-NORD       BF49  ...           1.000000  2014
2  BOUCLE DU MOUHOUN       BF46  ...           2.314100  2014
3         CENTRE-SUD       BF51  ...           1.345117  2014
4          SUD-OUEST       BF57  ...           1.064903  2014

[5 rows x 41 columns]

In [10]:
try:
    del mais["RcsiMoyProv"]
except:
    pass
mais = mais.rename(columns={"PROVINCE" : "PROV", "COMMUNE" : "COM"})
mais.head()

              REGION  PROV  ... Sonagess_11mais-(t-0)  Sonagess_12mais-(t-0)
0  BOUCLE DU MOUHOUN  BALE  ...             86.203519              94.920836
1  BOUCLE DU MOUHOUN  BALE  ...             93.315756              99.961771
2  BOUCLE DU MOUHOUN  BALE  ...             86.523674              94.649666
3  BOUCLE DU MOUHOUN  BALE  ...             83.265693              89.510758
4  BOUCLE DU MOUHOUN  BALE  ...             89.658260              98.584088

[5 rows x 16 columns]

In [14]:
X = pd.concat([mais, precipitations], axis=0)
X

                REGION          PROV  ... Preci_decembre_min  Preci_decembre_max
0    BOUCLE DU MOUHOUN          BALE  ...                NaN                 NaN
1    BOUCLE DU MOUHOUN          BALE  ...                NaN                 NaN
2    BOUCLE DU MOUHOUN          BALE  ...                NaN                 NaN
3    BOUCLE DU MOUHOUN          BALE  ...                NaN                 NaN
4    BOUCLE DU MOUHOUN          BALE  ...                NaN                 NaN
..                 ...           ...  ...                ...                 ...
220                NaN         SAHEL  ...           0.000000             0.00000
221                NaN          NORD  ...           0.000000             1.00000
222                NaN  CENTRE-OUEST  ...           0.671488             1.69799
223                NaN          NORD  ...           0.883385             1.00000
224                NaN    CENTRE-SUD  ...           0.626442             1.52021

[1980 rows x 54 columns]